.sidebar {
    background-color: #000066;
    width: 145px;
    height: 100vh;
    position: fixed;
    padding-top: 150px;
    text-align: center;
}

.sidebar-link {
    color: white;
}

.sidebar-link:hover {
    text-decoration: none;
    color: white;
}

.sidebar-link-wrapper {
    margin: 0 20px;
    padding: 10px 0;
}

.sidebar-link-wrapper:hover {
    background-color: #007bff!important;
}